.myfirstcss{
    color: red;
    font-size: xx-large;
}

.ageLegel{
    color: white ;
    background-color: blue;
    font-size: xx-large;  
}
.ageNotLegel{
    color: yellow ;
    background-color: black;
    font-size: xx-large;  
}