<div>
    <h1>
        Nhập thêm 1 sinh viên mới
    </h1>
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="form-header">
            <mat-label>Mã sinh viên</mat-label>
            <input matInput placeholder="" formControlName="code" require />
          </mat-form-field> 
          <br />
          <mat-form-field class="form-header">
            <mat-label>Họ </mat-label>
            <input matInput placeholder="" formControlName="gender" require />
          </mat-form-field> 
          <br />
          <mat-form-field class="form-header">
            <mat-label>Tên </mat-label>
            <input matInput placeholder="" formControlName="firstName" require />
          </mat-form-field> 
          <br />
          <mat-form-field class="form-header">
            <mat-label>Ngày tháng năm sinh </mat-label>
            <input matInput placeholder="" formControlName="dob" require />
          </mat-form-field> 
          <br />          
          <mat-form-field class="form-header">
            <mat-label>Giới tính</mat-label>
            <input matInput placeholder="" formControlName="lastName" require />
          </mat-form-field> 
          <br />
          <mat-form-field class="form-header">
            <mat-label>Điện thoại</mat-label>
            <input matInput placeholder="" formControlName="phone" require /> 
          </mat-form-field> 
          <br />
          <mat-form-field class="form-header">
            <mat-label>Email</mat-label>
            <input matInput placeholder="" formControlName="email" require />
          </mat-form-field> 
          <mat-form-field class="form-header">
            <mat-label>Picture</mat-label>
            <input matInput placeholder="" formControlName="picture" require />
          </mat-form-field>           
          <br />
          <button type="submit" class= "btn btn-success" [disabled]="!studentForm.valid">Submit</button>
      </form>
      
</div>

